# Archivos sensibles
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Editor
.vscode/
.idea/

# Node (por si acaso)
node_modules/